---
- name: Generate STIG Rollup Reports
  hosts: windows_report_host
  gather_facts: no

  vars:
    share_root: "\\\\192.168.10.198\\STIG-Results"
    roles:
      - domain_controllers
      - member_servers
      - workstations

  tasks:

    - name: Ensure StigRollup folder exists
      ansible.windows.win_file:
        path: "C:\\ProgramData\\StigRollup"
        state: directory

    - name: Copy StigRollupReport.ps1 to Windows Host
      ansible.windows.win_copy:
        src: "{{ playbook_dir }}/../scripts/StigRollupReport.ps1"
        dest: "C:\\ProgramData\\StigRollup\\StigRollupReport.ps1"

    - name: Run STIG Rollup for each Role
      ansible.windows.win_powershell:
        script: |
          $User = "{{ username }}"
          $Pass = "{{ password }}"
          $SecurePass = ConvertTo-SecureString $Pass -AsPlainText -Force
          $Cred = New-Object System.Management.Automation.PSCredential($User, $SecurePass)

          & "C:\\ProgramData\\StigRollup\\StigRollupReport.ps1" `
            -ShareRoot "{{ share_root }}" `
            -RoleName "{{ item }}" `
            -OutputName "SummaryReport-Rollup.html"

        credential_username: "{{ username }}"
        credential_password: "{{ password }}"
      loop: "{{ roles }}"
