---
- name: Generate STIG Rollup Reports
  hosts: domain_controllers
  gather_facts: false

  vars:
    share_root_unc: "\\\\192.168.10.198\\STIG-Results"
    roles:
      - domain_controllers
      - member_servers
      - workstations

  tasks:

    # -------------------------------------------------------------
    # Create rollup script folder on the Windows host
    # -------------------------------------------------------------
    - name: Create script folder on Windows host
      ansible.windows.win_file:
        path: "C:\\ProgramData\\StigRollup"
        state: directory

    # -------------------------------------------------------------
    # Copy the PowerShell rollup script
    # -------------------------------------------------------------
    - name: Copy Rollup PS Script to Windows Host
      ansible.windows.win_copy:
        src: "playbooks/scripts/StigRollupReport.ps1"
        dest: "C:\\ProgramData\\StigRollup\\StigRollupReport.ps1"

    # -------------------------------------------------------------
    # Run the rollup for each role
    # -------------------------------------------------------------
    - name: Run STIG Rollup for each Role
      ansible.windows.win_powershell:
        script: |
          $params = @{
              ShareRoot = "{{ share_root_unc }}"
              RoleName  = "{{ item }}"
              Username  = "{{ smb_username }}"
              Password  = "{{ smb_password }}"
              OutputName = "SummaryReport-Rollup.html"
          }
          & "C:\ProgramData\StigRollup\StigRollupReport.ps1" @params
      loop: "{{ roles }}"
      no_log: true
