---
- name: Generate STIG Rollup Reports
  hosts: domain_controllers
  gather_facts: no

  vars_files:
    - ../vars/stig_settings.yml

  tasks:

    # -------------------------------------------------------------
    # Ensure script folder exists on Windows host
    # -------------------------------------------------------------
    - name: Create script folder on Windows host
      ansible.windows.win_file:
        path: C:\ProgramData\StigRollup
        state: directory

    # -------------------------------------------------------------
    # Copy StigRollupReport.ps1 to Windows host
    # -------------------------------------------------------------
    - name: Copy Rollup PS Script to Windows Host
      ansible.windows.win_copy:
        src: ../scripts/StigRollupReport.ps1
        dest: C:\ProgramData\StigRollup\StigRollupReport.ps1
        force: yes

    # -------------------------------------------------------------
    # Run the rollup for each role
    # -------------------------------------------------------------
    - name: Run STIG Rollup for each Role
      ansible.windows.win_powershell:
        script: |
          $User = "{{ smb_username }}"
          $Pass = "{{ smb_password }}"
          $sec = ConvertTo-SecureString $Pass -AsPlainText -Force
          $Cred = New-Object System.Management.Automation.PSCredential ($User, $sec)

          $ShareRoot = "{{ stig_share_root }}"    # UNC path from vars file
          $RoleName  = "{{ item }}"

          # Run the script from ProgramData
          C:\ProgramData\StigRollup\StigRollupReport.ps1 `
            -ShareRoot $ShareRoot `
            -RoleName  $RoleName `
            -OutputName "STIG-Rollup-$RoleName.html"
      loop: "{{ stig_roles }}"
      register: rollup_output
      no_log: false
