---
- name: Generate STIG Rollup Reports
  hosts: domain_controllers
  gather_facts: no

  vars:
    share_root_unc: "\\\\192.168.10.198\\STIG-Results"
    stig_roles:
      - domain_controllers
      - member_servers
      - workstations

  tasks:

    - name: Ensure rollup directory exists
      ansible.windows.win_file:
        path: "C:\\ProgramData\\StigRollup"
        state: directory

    - name: Copy rollup script to host
      ansible.windows.win_copy:
        src: "{{ playbook_dir }}/../scripts/StigRollupReport.ps1"
        dest: "C:\\ProgramData\\StigRollup\\StigRollupReport.ps1"

    - name: Run STIG Rollup for each role
      ansible.windows.win_powershell:
        script: |
          $ShareRoot = "{{ share_root_unc }}"
          $RoleName  = "{{ item }}"

          & "C:\\ProgramData\\StigRollup\\StigRollupReport.ps1" `
            -ShareRoot $ShareRoot `
            -RoleName $RoleName `
            -OutputName "SummaryReport-{{ item }}.html"
      loop: "{{ stig_roles }}"
