---
- name: Prep Evaluate-STIG on targets
  hosts: all
  gather_facts: no
  vars:
    eval_stig_version: "Evaluate-STIG_1.2507.5"
    eval_stig_local_root: "C:\\ProgramData\\{{ eval_stig_version }}"
    eval_stig_share: "\\\\192.168.10.198\\evaluate-stig\\{{ eval_stig_version }}"

  tasks:
    - name: Ensure version-specific Evaluate-STIG folder exists
      ansible.windows.win_file:
        path: "{{ eval_stig_local_root }}"
        state: directory

    - name: Check if Evaluate-STIG.ps1 exists
      ansible.windows.win_stat:
        path: "{{ eval_stig_local_root }}\\Evaluate-STIG.ps1"
      register: stig_script

    - name: Copy Evaluate-STIG from share if missing
      ansible.windows.win_copy:
        src: "{{ eval_stig_share }}\\"
        dest: "{{ eval_stig_local_root }}\\"
        remote_src: yes
      when: not stig_script.stat.exists
